<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8"/>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ meta_description }}">
    <link rel="stylesheet" href="{{ (template_path ~ '/assets/style.css')|ver }}"/>
    <link rel="stylesheet" href="{{ '/templates/common/colors.css'|ver }}"/>
    {{ headscript|raw }}{{ script|raw }}
</head>
<body class="main-body">
    <table class="layout-table" width="100%">
        <tr>
            <td>
                <table class="layout-table noborder" width="100%">
                    <tr class="page-header">
                        <td class="noborder pageheader-left align-center">
                            <table>
                                <tr>
                                    <td class="noborder motd align-left valign-bottom" width="50%">&nbsp;&nbsp;<strong>{{ motd|raw }}</strong></td>
                                    <td class="noborder align-right valign-bottom" width="50%"><strong>{{ petition|raw }}</strong></td>
                                </tr>
                            </table>
                        </td>
                        <td class="noborder pageheader-center align-center">{{ title }}</td>
                        <td class="noborder pageheader-right">
                            <img src="{{ template_path }}/assets/mail.gif" width="24" height="19" alt="Mail"><strong>{{ mail|raw }}</strong>&nbsp;&nbsp;
                            {{ petitiondisplay|raw }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table class="layout-table" width="100%">
                    <tr>
                        <td width="200" class="sidebar-content valign-top">
                            <div class="navad-wrapper">{{ navad|raw }}</div>
                            <div class="nav-container" role="navigation">{{ nav|raw }}</div>
                        </td>
                        <td width="100%" class="main-content valign-top">
                            <div class="verticalad-wrapper">{{ verticalad|raw }}</div>
                            {{ bodyad|raw }}
                            {{ content|raw }}
                        </td>
                        <td width="132" class="sidebar-content valign-top">
                            {{ stats|raw }}
                            <br>
                            {{ paypal|raw }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <table class="layout-table" width="100%" height="20">
                    <tr>
                        <td class="align-center"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <table class="layout-table" width="100%">
                    <tr>
                        <td colspan="3" height="10" class="align-center"></td>
                    </tr>
                    <tr>
                        <td width="12"></td>
                        <td class="valign-top">
                            <table class="layout-table colOtWhite" width="100%">
                                <tr>
                                    <td class="valign-top">{{ copyright|raw }}<br/>Design: Puritanic AI Mobile theme by NB-Core</td>
                                    <td class="valign-top align-right">{{ source|raw }}<br />{{ version }}<br />({{ pagegen|raw }})</td>
                                </tr>
                            </table>
                        </td>
                        <td width="12"></td>
                    </tr>
                    <tr>
                        <td colspan="3" height="10" class="align-center"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
