<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ meta_description }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ (template_path ~ '/assets/style.css')|ver }}"/>
    <link rel="stylesheet" href="{{ '/templates_twig/common/bootstrap.min.css'|ver }}">
    <link rel="stylesheet" href="{{ '/templates/common/colors.css'|ver }}"/>
    {{ headscript|raw }}{{ script|raw }}
</head>
<body class="main-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <table class="noborder w-100">
                    <tr class="page-header">
                        <td class="noborder pageheader-left align-center valign-top">
                            <button class="btn btn-secondary d-lg-none me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNav" aria-controls="offcanvasNav" aria-label="Open navigation menu">&#9776;</button>
                            <table>
                                <tr>
                                    <td class="noborder motd align-left valign-bottom">&nbsp;&nbsp;<strong>{{ motd|raw }}</strong></td>
                                    <td class="noborder align-right valign-bottom"><strong>{{ petition|raw }}</strong></td>
                                </tr>
                            </table>
                        </td>
                        <td class="noborder pageheader-center align-center">{{ title }}</td>
                        <td class="noborder pageheader-right valign-top">
                            <button class="btn btn-secondary d-lg-none me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasStats" aria-controls="offcanvasStats">&#128202;</button>
                            <img src="{{ template_path }}/assets/mail.gif" width="24" height="19" alt="Mail"><strong>{{ mail|raw }}</strong>&nbsp;&nbsp;
                            {{ petitiondisplay|raw }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <nav class="col-lg-2 valign-top d-none d-lg-block">
                <div class="navad-wrapper">{{ navad|raw }}</div>
                <div class="nav-container" role="navigation">{{ nav|raw }}</div>
            </nav>
            <main class="col-12 col-lg-8 main-content valign-top">
                <div class="verticalad-wrapper">{{ verticalad|raw }}</div>
                {{ bodyad|raw }}
                {{ content|raw }}
            </main>
            <aside class="col-lg-2 valign-top d-none d-lg-block">
                {{ stats|raw }}
                <br>
                {{ paypal|raw }}
            </aside>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="w-100" height="20">
                    <tr>
                        <td class="align-center"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="w-100">
                    <tr>
                        <td colspan="3" height="10" class="align-center"></td>
                    </tr>
                    <tr>
                        <td class="px-2"></td>
                        <td class="valign-top">
                            <table class="colOtWhite w-100">
                                <tr>
                                    <td class="valign-top">{{ copyright|raw }}<br/>Design: Puritanic AI Mobile theme by NB-Core</td>
                                    <td class="valign-top align-right">{{ source|raw }}<br />{{ version }}<br />({{ pagegen|raw }})</td>
                                </tr>
                            </table>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3" height="10" class="align-center"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNav" aria-labelledby="offcanvasNavLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavLabel">Navigation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="navad-wrapper">{{ navad|raw }}</div>
            <div class="nav-container" role="navigation">{{ nav|raw }}</div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasStats" aria-labelledby="offcanvasStatsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasStatsLabel">Stats</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {{ stats|raw }}
            <br>
            {{ paypal|raw }}
        </div>
    </div>

    {# Load Bootstrap JS locally with defer #}
    <script src="{{ '/templates_twig/common/bootstrap.bundle.min.js'|ver }}" defer></script>
</body>
</html>
