<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ meta_description }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ template_path }}/assets/style.css"/>
    <link rel="stylesheet" href="/templates/common/colors.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css">
</head>
<body class="popup-body">
    <table class="w-100" cellpadding="5">
        <tr>
            <td colspan="2" class="pageheader popup-header">
                <table class="noborder w-100">
                    <tr>
                        <td class="noborder"><strong>{{ title }}</strong><div class="verticalad-wrapper"></div></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="main-content valign-top">
                {{ content|raw }}
            </td>
        </tr>
        <tr>
            <td class="trhead align-left">{{ copyright|raw }}</td>
        </tr>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js" defer></script>
</body>
</html>
