<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ meta_description }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ (template_path ~ '/assets/style.css')|ver }}"/>
    <link rel="stylesheet" href="{{ '/templates/common/colors.css'|ver }}"/>
    <link rel="stylesheet" href="{{ '/templates_twig/common/bootstrap.min.css'|ver }}">
</head>
<body class="popup-body">
    <table class="w-100" cellpadding="5">
        <tr>
            <td colspan="2" class="pageheader popup-header">
                <table class="noborder w-100">
                    <tr>
                        <td class="noborder"><strong>{{ title }}</strong><div class="verticalad-wrapper"></div></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="main-content valign-top">
                {{ content|raw }}
            </td>
        </tr>
        <tr>
            <td class="trhead align-left">{{ copyright|raw }}</td>
        </tr>
    </table>
    {# Load Bootstrap JS locally with defer #}
    <script src="{{ '/templates_twig/common/bootstrap.bundle.min.js'|ver }}" defer></script>
</body>
</html>
