<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ meta_description }}">
    <title>{{ title }}</title>
    <link href="/templates/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ template_path }}/assets/style.css"/>
    <link rel="stylesheet" href="/templates/common/colors.css"/>
    <link rel="stylesheet" href="/templates/common/sidebar.css"/>
    {{ headscript|raw }}{{ script|raw }}
</head>
<body class="main-body">
{% set right_sidebar %}
    {{ verticalad|raw }}
    {{ bodyad|raw }}
    {{ stats|raw }}<br/>
    {{ paypal|raw }}
{% endset %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 col-sm-2 motd">
            {{ motd|raw }}
        </div>
        <div class="col-sm-8 hidden-xs header-picture">&nbsp;</div>
        <div class="col-xs-8 col-sm-2">
            {{ mail|raw }}
            {{ petition|raw }}
            {{ petitiondisplay|raw }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="navbar-header navbar-inverse">
                <button class="navbar-toggle collapsed" data-target="#navbar-right" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button class="navbar-toggle collapsed" data-target="#navbar-left" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Navigation</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-2">
            <div class="navbar-collapse collapse" id="navbar-left">
                <ul class="nav navbar-nav">
                    <li>
                        {{ navad|raw }}
                        {{ nav|raw }}
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse" id="navbar-right">
                <ul class="nav navbar-nav">
                    <li>
                        {{ right_sidebar|raw }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 main-content">
            {{ content|raw }}
        </div>
        <div class="col-xs-2 hidden-xs">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        {% block right_sidebar %}{% endblock %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bootstrap-footer row">
        <div class="col-xs-12">
            {{ copyright|raw }}<br />
            {{ source|raw }}<br />{{ version }}<br />({{ pagegen|raw }})
        </div>
    </div>
</div>
<script src="/templates/bootstrap/jquery/jquery-2.1.0.min.js"></script>
<script src="/templates/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
