<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ meta_description }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/templates_twig/common/bootstrap.min.css'|ver }}">
    <link rel="stylesheet" href="{{ ('/' ~ template_path ~ '/assets/style.css')|ver }}"/>
    <link rel="stylesheet" href="{{ '/templates/common/colors.css'|ver }}"/>
    {{ headscript|raw }}{{ script|raw }}
</head>
<body class="main-body">
{% set right_sidebar %}
    {{ verticalad|raw }}
    {{ bodyad|raw }}
    {{ stats|raw }}<br/>
    {{ paypal|raw }}
{% endset %}
<div class="container-fluid">
    <div class="row page-header align-items-end">
        <div class="col-sm-4 pageheader-left">
            <div class="d-flex justify-content-between">
                <div class="motd">{{ motd|raw }}</div>
                <div class="petition">{{ petition|raw }}</div>
            </div>
        </div>
        <div class="col-sm-4 pageheader-center text-center">
            <img src="{{ '/' ~ template_path }}/assets/title-logo.png" alt="{{ title }}">
        </div>
        <div class="col-sm-4 pageheader-right text-end">
            <img src="{{ '/' ~ template_path }}/assets/mail.png" alt="Mail">
            <strong>{{ mail|raw }}</strong>&nbsp;&nbsp;
            {{ petitiondisplay|raw }}
        </div>
    </div>
    <div class="row d-lg-none mobile-toggles">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid justify-content-end">
                <button class="navbar-toggler me-2" type="button" aria-label="Navigation" data-bs-toggle="offcanvas" data-bs-target="#leftSidebar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="navbar-toggler" type="button" aria-label="Char Stats" data-bs-toggle="offcanvas" data-bs-target="#rightSidebar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </div>
    <div class="row">
        <nav class="col-lg-auto flex-shrink-0 d-none d-lg-block sidebar-content">
            <div class="navad-wrapper">{{ navad|raw }}</div>
            <img src="{{ '/' ~ template_path }}/assets/nav-top.png" alt="" class="nav-top">
            <div class="nav-container" role="navigation">{{ nav|raw }}</div>
            <img src="{{ '/' ~ template_path }}/assets/nav-bottom.png" alt="" class="nav-bottom">
        </nav>
        <main class="col flex-grow-1 main-content">
            {{ content|raw }}
        </main>
        <aside class="col-lg-auto flex-shrink-0 d-none d-lg-block sidebar-content">
            {{ right_sidebar|raw }}
        </aside>
    </div>
    <div class="bootstrap-footer row">
        <div class="col-12 col-sm-6">
            {{ copyright|raw }}
        </div>
        <div class="col-12 col-sm-6 text-end">
            {{ source|raw }}<br />{{ version }}<br />({{ pagegen|raw }})
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="leftSidebar">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        {{ navad|raw }}
        {{ nav|raw }}
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="rightSidebar">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Info</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        {{ right_sidebar|raw }}
    </div>
</div>
{# Load Bootstrap JS locally with defer #}
<script src="{{ '/templates_twig/common/bootstrap.bundle.min.js'|ver }}" defer></script>
</body>
</html>
